.header-container{
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px solid black;
}

.logo-container{
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 3px solid black;
}

.search-bar-container{
    padding-left: 30px;
    padding-right: 0px;
}