/* header style */
.header-container{
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px solid black;
}

.logo-container{
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 3px solid black;
}

.search-bar-container{
    padding-left: 30px;
    padding-right: 0px;
}

/* search bar style */
.searchbar{
    height: 40px;
    background-color: white;
    border-radius: 40px;
    border: 2px grey solid;
    padding-left: 20px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 500px;
    caret-color:black;
    line-height: 35px;
}

.search_icon{
    height: 30px;
    margin-top: 3px;
    margin-right: 3px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: grey;
    text-decoration: none;
}

.search_icon:hover{
    text-decoration: none;
    color: orange;
}


/* navbar style */
.navbar-container{
    background-color:black;
    color: white;
    height: 50px;
    font-weight: bold;
}

.navbar-nav>.mr-80{
    margin-right:80px
}

/* content style */
.content-container{
    height:100%;
    margin-bottom: 20px;
}

.product-list-container{
    background-color: black;
}

.product-list-style{
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
    font-size: small;
}

.promo-container{
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.promo-title{
    font-weight: bold;
    font-size: large;
}

.title-content{
    font-weight: bold;
    font-size: 40px;
    color: orange;
}

.header-article{
    font-weight: bold;
    color: black;    
    font-size: large;
}

.title-article{
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    
}

.product-container{
    border: 4px solid orange;
    border-radius: 20px;
}


/* agile slider style */
.agile__nav-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 80px;
  }
  .agile__nav-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .agile__nav-button--prev {
    left: 0;
  }
  .agile__nav-button--next {
    right: 0;
  }
  .agile__dots {
    bottom: 0px;
    left: 10%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .agile__dot {
    margin: 0 10px;
  }
  .agile__dot button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 10px;
  }

  .agile__dot:hover button{
    background-color: orange;
  }

  .agile__dot--current button {
    background-color: orange;
    width: 40px;
    border-radius: 20px;
  }
  
  .slide {
    display: block;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

/* footer style */
.footer-container{
    border-top: 3px solid black;
}




/* helper */
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.object-fit_contain {
    object-fit: contain ;
    width: 100%;
}