/* header style */
.header-container{
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px solid black;
}

.logo-container{
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 3px solid black;
}

.search-bar-container{
    padding-left: 30px;
    padding-right: 0px;
}

/* search bar style */
.searchbar{
    height: 40px;
    background-color: white;
    border-radius: 40px;
    border: 2px grey solid;
    padding-left: 20px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 500px;
    caret-color:black;
    line-height: 35px;
}

.search_icon{
    height: 30px;
    margin-top: 3px;
    margin-right: 3px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: grey;
    text-decoration: none;
}

.search_icon:hover{
    text-decoration: none;
    color: orange;
}


/* navbar style */
.navbar-container{
    background-color:black;
    color: white;
    height: 50px;
    font-weight: bold;
}

.navbar-nav>.mr-80{
    margin-right:80px
}

/* content style */
.content-container{
    height:1000px;
}






/* footer style */
.footer-container{
    border-top: 3px solid black;
}